<% if logged_in? %>
	<% provide(:title, "#{current_shepherd.name} (@#{current_shepherd.username})") %>

	<div class="row">
		<aside class="col-md-4">
			<section class="shepherd_info">
				<%= render 'shared/shepherd_info' %>
			</section>
			<section class="stats">
				<%= render 'shared/stats' %>
			</section>
			<section class="animal_form">
				<%= render 'shared/animal_form' %>
			</section>
		</aside>
		<div class="col-md-4">

			<% if current_shepherd.animals.any? %>
				<ol class="animals">
					<%= render @animals %>
				</ol>
				<%= will_paginate @animals %>
			<% end %>

		</div>
		<div class="col-md-4">
			<h3>Spacer</h3>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>Yowbook</h1>
		<h2>
			This is the home page for the <%=link_to "Yow Book", root_path %> web application.
		</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>
<% end %>
