<% unless !current_shepherd?(@shepherd) %>
	<%= form_for(@new_animal, html: { multipart: true }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field">
			<%= f.label :eartag %>
			<%= f.text_field :eartag, class: 'form-control'  %>

			<%= f.label :birth_date %>
			<%= f.text_field :birth_date, class: 'form-control', value: Date.current  %>

			<%= f.label :sex %>
			<%= f.select(:sex, options_for_select([['Unknown', 'unknown'], ['Ewe', 'ewe'], ['Wether','wether'], ['Ram', 'ram'], ['Teaser', 'teaser']], 1)) %>

			<div class="form-group row">
				<div class="col-8" style="padding-right:0;">
					<%= f.label :dam_eartag %>
					<%= f.text_field :dam_eartag, class: 'form-control dam-eartag'  %>
				</div>
				<div class="col-4 mt-auto pb-3" style="padding-left:5px;">
					<%= f.check_box :orphan, :data => {:checked => "checked", :toggle => "toggle", :on => "Orphan", :off=>"Raised", onstyle: "danger", offstyle: "success", height: "36px", width: "100%"}, class: '' %>
				</div>
			</div>

			<%= f.label :sire_eartag %>
			<%= f.text_field :sire_eartag, class: 'form-control'  %>

			<%= f.label :picture %>
			<%= f.file_field :picture, size: 10, accept: 'image/jpeg,image/gif,image/png' %>



		</div>
		<%= f.submit yield(:button_text), class: "btn btn-primary" %>

	<% end %>
<% end %>
