<%= form_for(@animal) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :eartag %>
		<%= f.text_field :eartag, class: 'form-control'  %>

		<%= f.label :birth_date %>
		<%= f.text_field :birth_date, placeholder: "YYYY-MM-DD", class: 'form-control'  %>
	</div>
	<%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
