<%= form_for(@animal, html: { multipart: true }) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :eartag %>
		<%= f.text_field :eartag, class: 'form-control'  %>

		<%= f.label :birth_date %>
		<%= f.text_field :birth_date, placeholder: "YYYY-MM-DD", class: 'form-control'  %>
	</div>
	<%= f.submit "Add to flock", class: "btn btn-primary" %>
	<span class="picture">
		<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
	</span>
<% end %>


<!-- <script type="text/javascript">
	$('#animal_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if(size_in_megabytes > 5){
			alert('Maximum file size is 5MB. Please choose a smaller file.')
		}
	});
</script> -->
