<% unless !current_shepherd?(@shepherd) %>
	<%= form_for([@animal, @weight], method: :create, html: { multipart: true }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="field">
			<%= f.label :date %>
			<%= f.text_field :date, class: 'form-control', value: Date.current  %>

			<%= f.label :weight %>
			<%= f.text_field :weight, class: 'form-control'  %>

			<%= f.label :weight_type %>
			<%= f.select(:weight_type, options_for_select([['Birth', 'birth'], ['Weaning', 'weaning'], ['Early Post Weaning', 'early_post_weaning'], ['Post Weaning', 'post_weaning'], ['Yearling', 'yearling'], ['Hogget', 'hogget'], ['Adult', 'adult'], ['Maintenance', 'maintenance'], ['Hanging', 'hanging']], 1)) %>
		</div>
		<%= f.submit yield(:button_text), class: "btn btn-primary" %>

	<% end %>
<% end %>
