<li id="animal-<%= animal.eartag %>" class="clearfix">

	<a href="<%= shepherd_animal_path(eartag: animal.eartag, username: animal.shepherd.username) %>">

		<div class="basic_animal_info">

			<%= render 'shared/basic_info', animal: animal %>

			<div class="update-list">
				<% if animal.status == 'active' %>
					Updated <%= time_ago_in_words(animal.updated_at) %> ago
				<% else %>
					<%= animal.status.titleize %> <%= time_ago_in_words(animal.status_date) %> ago
				<% end %>
			</div>

		</div>
	</a>

</li>
