<li id="animal-<%= animal.eartag %>">
	<%= link_to gravatar_for(animal.shepherd, size: 50), animal.shepherd %>
	<span class="shepherd"><%= link_to animal.shepherd.name, animal.shepherd %></span>
	<span class="eartag"><%= animal.eartag %></span>
	<span class="timestamp">
		Born <%= animal.birth_date %>.
		<% if current_shepherd?(animal.shepherd) %>
			<%= link_to "Delete", animal, method: :delete, data: { confirm: "Are you sure?" } %>
		<% end %>
	</span>
</li>
