<% provide(:title, "#{@animal.shepherd.name}'s #{@animal.eartag}") %>

<div class="row">
	<aside class="col-md-3">
		<section class="shepherd_info">
			<%= render 'shared/shepherd_info' %>
		</section>
		<%= render 'shepherds/follow_form' %>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="col-md-9">
		<div class="animal">
			<div class="animal_header">
				<div class="basic_animal_info">
					<%= render 'shared/basic_info', animal: @animal %>
				</div>
			</div>

			<div class="ui-tabs" id="tabs">
			<ul class="ui-tabs-nav">
				<li><a href="#weights">Weights</a></li>
				<li><a href="#pedigree">Pedigree</a></li>
				<li><a href="#field_notes">Field Notes</a></li>
				<li><a href="#miscellaneous">Miscellaneous</a></li>
				<% if current_shepherd?(@animal.shepherd) %>
					<li><a href="#edit">Edit</a></li>
					<li id="float-right">
						<%= render 'animal_status_form' %>
					</li>
				<% end %>
			</ul>
			<div class="ui-tabs-panel" id="weights">
				<div class="row">
					<div class="col-md-4">
					<% if current_shepherd?(@animal.shepherd) %>
						<%= render 'shared/weight_form' %>
					<% end %>
					</div>
					<div class="col-md-8">
						<table class="weight-table">
							<tr>
								<th id="date">Date</th>
								<th id="weight">Weight</th>
								<th id="type">Type</th>
							</tr>
							<%= render @animal.weights %>
						</table>
					</div>
				</div>
		  </div>
		  <div class="ui-tabs-panel" id="pedigree">
		    <p>Pedigree.</p>
		  </div>
		  <div class="ui-tabs-panel" id="field_notes">
		    <p>Field notes.</p>
		  </div>
		  <div class="ui-tabs-panel" id="miscellaneous">
		    <p>Miscellaneous.</p>
		  </div>
			<% if current_shepherd?(@animal.shepherd) %>
			  <div class="ui-tabs-panel" id="edit">
					<% provide(:button_text, "Update record") %>
			    <%= render 'animals/edit_data' %>
					<%= link_to "Delete animal", @animal, method: :delete, data: { confirm: "Are you sure you want to remove all history of this animal? Alternatively, you can indicate that this animal is sold/dead." }, class: "btn btn-primary delete" %>
			  </div>
			<% end %>

		</div>
			<div class="update-page">
				Last updated <%= time_ago_in_words(@animal.updated_at) %> ago
			</div>
		</div>
	</div>
</div>


  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
