<% provide(:title, "#{@shepherd.name} (@#{@shepherd.username})") %>
<% provide(:button_text, "Add to flock") %>

<div class="row">
	<aside class="col-md-3">
		<section class="shepherd_info">
			<%= render 'shared/shepherd_info' %>
		</section>
		<%= render 'shepherds/follow_form' %>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
		<%= render 'shared/animal_form' %>
	</aside>

	<div class="col-md-6">
		<% if @shepherd.animals.any? %>
			<ol class="animals">
				<%= render @animals %>
			</ol>
			<%= will_paginate @animals, list_classes: %w(pagination justify-content-center) %>
		<% end %>
	</div>

	<div class="col-md-3">
		<h3>Spacer</h3>
	</div>
</div>
