<% provide(:title, "#{@shepherd.name} (@#{@shepherd.username})") %>
<div class="row">
	<aside class="col-md-4">
		<section class="shepherd_info">
			<%= render 'shepherds/shepherd_info' %>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
		<%= render 'shared/animal_form' %>
	</aside>

	<div class="col-md-5">
		<%= render 'shepherds/follow_form' %>
		<% if @shepherd.animals.any? %>
			<ol class="animals">
				<%= render @animals %>
			</ol>
			<%= will_paginate @animals %>
		<% end %>
	</div>
	<div class="col-md-3">
		<h3>Spacer</h3>
	</div>
</div>
