<% provide(:title, "#{@shepherd.name} (@#{@shepherd.username})") %>
<div class="row">
	<aside class="col-md-4">
		<section class="shepherd_info">
			<h1>
				<%= gravatar_for @shepherd %>
				<%= @shepherd.name %>
			</h1>
		</section>
		<section class="stats">
			<%= render 'shared/stats' %>
		</section>
	</aside>

	<div class="col-md-8">
		<%= render 'follow_form' %>
		<% if @shepherd.animals.any? %>
			<h3>Sheep (<%= @shepherd.animals.count %>)</h3>
			<ol class="animals">
				<%= render @animals %>
			</ol>
			<%= will_paginate @animals %>
		<% end %>
	</div>
</div>
